body{
    padding-left: 0;
    margin: 0;
}

navbar .navbarnav{
    transition: 3s;
}


/* hero style */
.jumbotron {
    padding-top: 6rem;
    background-color: #EEF5FF;

}
/* img{
    padding-left: 10em;
    margin-right: -10em;
} */

/* hero style end */

#projects {
    padding-top: 5rem;
    background-color: #EEF5FF;
}

/* .footer{
    background-color: #7C93C3;
    padding-top: 2rem;
} */

section {
    padding-top: 5rem;
}

#contact{
    /* margin-top: 2rem; */
    background-color: #EEF5FF;
}